/* Desktop */

.employee-bio {
  gap: 20px;
  margin-top: 37px;
  margin-right: 20px;
  width: 379px; /* Atur lebar box */
  height: 223px; /* Atur tinggi box */
  padding: 20px;
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Nilai alpha yang lebih rendah: 0.1 */
}

.employee-bios {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 60%;
}

.company-img {
  margin-top: 150px;
}

.company-img img {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.blueText {
  color: #246bd6;
  text-align: left;
  font-weight: bold;
  font-size: 2vw;
}

.greyText {
  color: #8e8e8e;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

.Paragraph {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  padding: 5px;
}

.company-description {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 61%;
}

.company-principles {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 59%;
}

.font-Inter {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

/* Mobile */

@media (max-width: 768px) {
  .blueText {
    color: #246bd6;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1px;
  }

  .company-img {
    margin-top: 100px;
  }

  .company-img img {
    display: flex;
    width: 70%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
  }

  .company-description {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    left: 60vw;
  }

  .greyText {
    color: #8e8e8e;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 100;
  }

  .employee-bios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    left: 110vw;
    width: 70%;
  }

  .company-principles {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    left: 60vw;
  }

  .employee-bio img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .employee-bio h2 {
    text-align: left;
  }

  .employee-bio {
    gap: 20px;
    margin-top: 37px;
    margin-right: auto;
    margin-left: auto;
    width: 271px; /* Atur lebar box */
    height: 220px; /* Atur tinggi box */
    padding-left: 20px;
    padding-bottom: 1px;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Nilai alpha yang lebih rendah: 0.1 */
  }
}
