.overlayHeading{
    position: relative;
    bottom: 30vw;
    left: 60vw;
    transform: translate(-50%, -50%);
    color: #14037D;
    text-align: left;
    font-weight: bold;
}

.overlayParagraph{
    position: relative;
    transform: translate(-50%, -50%);
    color: #8E8E8E;
    text-align: left;
    font-size: 2vw;
    width: 45vw
}

.overlayButton{
    position: relative;
    bottom: 30vw;
    left: 21.5vw;
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    background-color: #14037D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    font-size: 2.5vw;
    width: 23vw;
}

.blueText{
    position: relative;
    left: 60vw;
    transform: translate(-50%, -50%);
    color: #246BD6;
    text-align: left;
    font-weight: bold;
    font-size: 2vw;
    @media screen and (max-width: 768px) {
        font-size: 6vw; /* Font size for smaller screens */
      }
}

.paragraphText{
    text-align: justify;
    width: 70vw;
    position: relative;
    @media screen and (max-width: 768px) {
        font-size: 3vw; /* Font size for smaller screens */
      }
}

.ovalBlueText{
    position: relative;
    transform: translate(-50%, -50%);
    padding: 8px 30px;
    left: 22vw;
    background-color: white;
    color: #246BD6;
    border: 2px solid #246BD6;
    border-radius: 40px;
    font-size: 2vw;
    font-weight: bold;
    width: 23vw;
    @media screen and (max-width: 768px) {
        font-size: 3vw; /* Font size for smaller screens */
      }
}

.ovalGreyText{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 8px 30px;
    background-color: #F2F2F2;
    color: black;
    border: 2px solid #CDCDCD;
    border-radius: 20px;
    font-size: 1vw;
    width: 40vw;
    height: 6vw;
    

}

.imageAndTextContainer{
    display: flex;
    align-items: start;
    gap: 30px;
    @media screen and (max-width: 768px) {
        flex-direction: column /* Font size for smaller screens */
      }
}

.textContainer{
    display: flex;
    flex-direction: column;
}

.flexImage{
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column /* Font size for smaller screens */
      }
}

.whiteContainer{
    background-color: white;
    border: 2px;
    border-radius: 20px;
    width: 24vw;
    padding: 30px 20px;
    @media screen and (max-width: 768px) {
        width: 70vw; /* Font size for smaller screens */
      }
}

.greyText{
    color: #d3d3d3
}

.darkBlueText{
    color: #14037D;
    font-weight: bold;
}

.blueButton{
    color: white;
    background-color: #246BD6;
    border-radius: 20px;
    width: 9vw;
    height: 3vw;
}

.blueContainer{
    position: relative;
    background-color: #D4E5FF;
    border: 2px;
    border-radius: 20px;
    width: 76.5vw;
    text-align: center;
}

.lightBlueText{
    color: #246BD6;
    font-weight: bold;
}



.gradientText{
    position: relative;
    background-image: linear-gradient(90deg,#14037D,#246BD6);
    background-clip: text;
    color: transparent;
    font-weight: bold;
    letter-spacing: 0.4em;
    left: 2.5vw;
}

.charAndText{
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
        flex-direction: column; /* Font size for smaller screens */
      }
}

.columnFlex{
    display: flex;
    flex-direction: column;
}