/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/styles.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.styles_overlayHeading__HkAnk{
    position: relative;
    bottom: 30vw;
    left: 60vw;
    transform: translate(-50%, -50%);
    color: #14037D;
    text-align: left;
    font-weight: bold;
    font-size: 5vw;
}

.styles_overlayParagraph__xJOni{
    position: relative;
    transform: translate(-50%, -50%);
    color: #8E8E8E;
    text-align: left;
    font-size: 2vw;
    width: 45vw
}

.styles_overlayButton__AXmxY{
    position: relative;
    bottom: 30vw;
    left: 21.5vw;
    transform: translate(-50%, -50%);
    padding: 5px 15px;
    background-color: #14037D;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    font-size: 2.5vw;
    width: 23vw;
}

.styles_blueText__5df4X{
    position: relative;
    left: 60vw;
    transform: translate(-50%, -50%);
    color: #246BD6;
    text-align: left;
    font-weight: bold;
    font-size: 2vw;
}

.styles_paragraphText__db_GS{
    text-align: justify;
    width: 70vw;
    position: relative;
}

.styles_ovalBlueText__cV3S7{
    position: relative;
    transform: translate(-50%, -50%);
    padding: 8px 30px;
    left: 22vw;
    background-color: white;
    color: #246BD6;
    border: 2px solid #246BD6;
    border-radius: 40px;
    font-size: 2vw;
    font-weight: bold;
    width: 23vw;
}

.styles_ovalGreyText__18pG1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 8px 30px;
    background-color: #F2F2F2;
    color: black;
    border: 2px solid #CDCDCD;
    border-radius: 20px;
    font-size: 1vw;
    width: 40vw;
    height: 6vw;
    

}

.styles_imageAndTextContainer__Rs5Td{
    display: flex;
    align-items: start;
    gap: 30px;
}

.styles_textContainer__e2Drg{
    display: flex;
    flex-direction: column;
}

.styles_flexImage__MaSe_{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.styles_whiteContainer__VfKi0{
    background-color: white;
    border: 2px;
    border-radius: 20px;
}
